.ios, .md {
    page-panier {
      .scroll-content {
        height: 100%
      }
      #map_canvas {
        width: 100%;
        height: 100%;
      }
    }
}
.gras {
	font-weight: bold;
}
.custom_label {
	color: green;
	font-weight: bold;
}

