page-profil {

}
.icon_h3 {
	margin: 3px;
}
#photo {
	margin-left: 5px;
	max-width: 100%;
	max-height: 170px;
}
.description-profil{
	border: solid 1px dimgray;
	padding-top: 1px;
	border-radius: 5px;
}
.bouton-profil{
	background-color: #0d81ff;
	margin: 5px 0px;
	border-radius: 8px;
	color: #9fe1e7;
	max-width: 250px;
}